/* write your override styles here */
#wall .tag-1{
  display: none;
}
#wall .tag-1 + #tag-2{
  display: none;
}
#wall ."slick wicked"{
  display: none;
}
#wall .parent #tag-5{
  display: none;
}
#wall .parent #tag-6{
  display: none;
}
