/* write your override styles here */
#wall .tag-1{
  display: none;
}
.tag1 + #tag-2{
  display: none;
}
#wall ."slick wicked" #tag-3{
  display: none;
}
#wall .parent #tag-5{
  display: none;
}
#wall .parent #tag-6{
  display: none;
}
