/* write your override styles here*/

#wall .tag-1{
  display: none;
}
div #wall .tag-1 + #tag2{
  display: none;
}
#wall #tag-3{
  display: none;
}
#wall .parent #tag-5{
  display: none;
}
#wall .parent #tag-6{
  display: none;
}
